.Messaggi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 5px;
  width: 100dvw;
  height: calc(100dvh - 54px);
  position: relative;
  margin: 54px 0;
}