.MessagePrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 15px;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); */
  padding: 10px;
}

.MessagePrev__figure {
  width: 65px;
  height: 65px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.MessagePrev__image {
  width: 65px;
  object-fit: cover;
  object-position: center;
}

.MessagePrev__info {
  flex-grow: 1;
}

.MesssagePrev__lastMessage {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.568);
}